body{
	margin:40px auto;max-width:1000px;line-height:1.6;font-size:18px;color:#444;padding:0 10px; font-family: spectre;
}
h1,h2,h3{
	line-height:1.2
}

a{
	text-decoration: none;
}
.centertext{
	text-align: center;
}
th{
	padding: 10px 20px;
}
td{
	padding-left: 10px;
	padding-right: 10px;
}
